{% extends 'main.html' %}
{% block content %}
	<ul class="second_nav">
		<li><a href="#faq1"># What is organic traffic estimation</a></li> 
		<li><a href="#faq2"># How to use organic traffic estimation</a></li>
	</ul>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p>{{message}}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
			<h1>Organic traffic estimation</h1>
			<p>Enter search volume and ranking position seperated with a semi colon such as<strong> 1000;1</strong></p>
			<textarea id="numbers" class="editText" rows="10" cols="40" placeholder="Enter search volume and position"></textarea>
			<button type="button" onclick="forecast()">Forecast!</button>
			<h3>Estimated traffic</h3>
			<textarea id="forecast" class="editText" rows="10" cols="40" placeholder="Output is here" ></textarea>
			
	<div class="merge_content">
		<h2 id="faq1">Whats is organic traffic estimation</h2>
		<p>Lorem ipsum dolor sit amet, mei ut prima forensibus, vel ei facer denique reformidans. Alia alterum pri ex. Etiam similique duo ea, has ei unum mazim numquam, vis at viderer partiendo. Dicta alienum facilisi per ad, nam quot ubique persecuti ad, ea posse epicurei efficiendi vix. Choro tation utamur an has, porro erant latine ea ius, ei putent graecis fuisset vim. Pro ad elit simul tantas.</p>
		<h2 id="faq2">How to use organic traffic estimation</h2>
		<p>Lorem ipsum dolor sit amet, mei ut prima forensibus, vel ei facer denique reformidans. Alia alterum pri ex. Etiam similique duo ea, has ei unum mazim numquam, vis at viderer partiendo. Dicta alienum facilisi per ad, nam quot ubique persecuti ad, ea posse epicurei efficiendi vix. Choro tation utamur an has, porro erant latine ea ius, ei putent graecis fuisset vim. Pro ad elit simul tantas.</p>
	</div>


{% endblock %}