{% extends 'main-tutorial.html' %}
{% block content %}
	<h1>How to build merge words</h1>
	
	<ul class="prerequisite">
		<h2>Programming languages used</h2>
		<p>To build this tool, we will be touching upon the following languages. If you have slight previous knowledge you'll fly through this tutorial</p>
		<li>HTML</li>
		<li>CSS (optional)</li>
		<li>JavaScript</li>
	</ul>
	<div class="container-2">
		<nav>
			{% for article in ARTICLE_DICT['Merge Words'] %}
				<a href="{{article[1]}}"><li>{{article[0]}}</li></a>
			{% endfor %}
		</nav>
	</div>
	<p>Lorem ipsum dolor sit amet, ad inani tollit mea. No qui ludus vituperata. Te suscipit postulant intellegam has. Id has illud blandit incorrupte, mea mediocrem neglegentur ex, ubique menandri at pro. At mei graeco scaevola, at sea purto eros. Ludus sententiae mel ea.</p>
	<p>Lorem ipsum dolor sit amet, ad inani tollit mea. No qui ludus vituperata. Te suscipit postulant intellegam has. Id has illud blandit incorrupte, mea mediocrem neglegentur ex, ubique menandri at pro. At mei graeco scaevola, at sea purto eros. Ludus sententiae mel ea.</p>
	<p>Lorem ipsum dolor sit amet, ad inani tollit mea. No qui ludus vituperata. Te suscipit postulant intellegam has. Id has illud blandit incorrupte, mea mediocrem neglegentur ex, ubique menandri at pro. At mei graeco scaevola, at sea purto eros. Ludus sententiae mel ea.</p>
	<p>Lorem ipsum dolor sit amet, ad inani tollit mea. No qui ludus vituperata. Te suscipit postulant intellegam has. Id has illud blandit incorrupte, mea mediocrem neglegentur ex, ubique menandri at pro. At mei graeco scaevola, at sea purto eros. Ludus sententiae mel ea.</p>
	<p>Lorem ipsum dolor sit amet, ad inani tollit mea. No qui ludus vituperata. Te suscipit postulant intellegam has. Id has illud blandit incorrupte, mea mediocrem neglegentur ex, ubique menandri at pro. At mei graeco scaevola, at sea purto eros. Ludus sententiae mel ea.</p>
	<p>Lorem ipsum dolor sit amet, ad inani tollit mea. No qui ludus vituperata. Te suscipit postulant intellegam has. Id has illud blandit incorrupte, mea mediocrem neglegentur ex, ubique menandri at pro. At mei graeco scaevola, at sea purto eros. Ludus sententiae mel ea.</p>
	<p>Lorem ipsum dolor sit amet, ad inani tollit mea. No qui ludus vituperata. Te suscipit postulant intellegam has. Id has illud blandit incorrupte, mea mediocrem neglegentur ex, ubique menandri at pro. At mei graeco scaevola, at sea purto eros. Ludus sententiae mel ea.</p>
	<p>Lorem ipsum dolor sit amet, ad inani tollit mea. No qui ludus vituperata. Te suscipit postulant intellegam has. Id has illud blandit incorrupte, mea mediocrem neglegentur ex, ubique menandri at pro. At mei graeco scaevola, at sea purto eros. Ludus sententiae mel ea.</p>
	<p>Lorem ipsum dolor sit amet, ad inani tollit mea. No qui ludus vituperata. Te suscipit postulant intellegam has. Id has illud blandit incorrupte, mea mediocrem neglegentur ex, ubique menandri at pro. At mei graeco scaevola, at sea purto eros. Ludus sententiae mel ea.</p>
	<p>Lorem ipsum dolor sit amet, ad inani tollit mea. No qui ludus vituperata. Te suscipit postulant intellegam has. Id has illud blandit incorrupte, mea mediocrem neglegentur ex, ubique menandri at pro. At mei graeco scaevola, at sea purto eros. Ludus sententiae mel ea.</p>
	<p>Lorem ipsum dolor sit amet, ad inani tollit mea. No qui ludus vituperata. Te suscipit postulant intellegam has. Id has illud blandit incorrupte, mea mediocrem neglegentur ex, ubique menandri at pro. At mei graeco scaevola, at sea purto eros. Ludus sententiae mel ea.</p>
	<p>Lorem ipsum dolor sit amet, ad inani tollit mea. No qui ludus vituperata. Te suscipit postulant intellegam has. Id has illud blandit incorrupte, mea mediocrem neglegentur ex, ubique menandri at pro. At mei graeco scaevola, at sea purto eros. Ludus sententiae mel ea.</p>
	<p>Continue to next tutorial: <a href="#"><span id="next-tutorial"><!-- Add logic here--></span></a></p>
	

{% endblock %}