{% extends 'main.html' %}
{% block content %}
	<h2>Recent Posts</h2>
	<a href="#"><div class="recent-posts">
		<h4>Scraping Instragram</h4>
		<img src="{{ url_for('static',filename='img/instagram.jpg') }}" alt="SEO tools logo" id="recent_posts_img">
		<p>Scraping instagram to find trending tweets, influencers and hashtags.</p>
	</div></a>
	<a href="#"><div class="recent-posts">
		<h4>Scraping Instragram</h4>
		<img src="{{ url_for('static',filename='img/instagram.jpg') }}" alt="SEO tools logo" id="recent_posts_img">
		<p>Scraping instagram to find trending tweets, influencers and hashtags.</p>
	</div></a>
	<a href="#"><div class="recent-posts">
		<h4>Scraping Instragram</h4>
		<img src="{{ url_for('static',filename='img/instagram.jpg') }}" alt="SEO tools logo" id="recent_posts_img">
		<p>Scraping instagram to find trending tweets, influencers and hashtags.</p>
	</div></a>
{% endblock %}